.table{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topContainer{
    display: flex;
}

.seat{
    width: 30px;
    height: 30px;
    border: #2a9d8f 1px solid;
    border-radius: 50%;
    margin: 5px;
    background-color: #fec5bb;
}

.midContainer{
    display: flex;
    align-items: center;
}

.mainTable{
    height: 120px;
    width: 120px;
    border: solid 1px #2a9d8f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fec5bb;
}

.main{
    text-align: center;
}

.bottomContainer{
    display: flex;
}

.topContainer .seat:nth-child(1){
    position: relative;
}

.topContainer .seat:nth-child(4){
    position: relative; top: 20px;
}

.midLeftContainer .seat:nth-child(1){
    position: relative; bottom: 5px;
}



.midRightContainer .seat:nth-child(1){
    position: relative; bottom: 5px;
}



.bottomContainer .seat:nth-child(1){
    position: relative; 
}

.bottomContainer .seat:nth-child(4){
    position: relative; bottom: 20px;
}

.name1, .name4, .name5,.name7, .name9,.name12{
    font-size: 20px;
    width: 80px;
}

.name1{
    position: relative;
    display: flex;
    justify-content: flex-end;
    right: 80px;
    bottom: 30px;
}

.name4{
    position: relative;
    bottom: 30px;
    left: 35px;
}

.name5{
    position: relative;
    display: flex;
    justify-content: flex-end;
    right: 85px;
    bottom: 10px;
}

.name7{
    position: relative;
    left: 35px;
    bottom: 10px;
}

.name9{
    position: relative;
    display: flex;
    justify-content: flex-end;
    top: 10px;
    right: 85px;
}


.name12{
    position: relative;
    top: 15px;
    left: 30px;
}

