.table{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topContainer{
    display: flex;
}

.seat{
    width: 30px;
    height: 30px;
    border: #2a9d8f 1px solid;
    border-radius: 50%;
    margin: 5px;
    background-color: #fec5bb;
}

.midContainer{
    display: flex;
    align-items: center;
}

.mainTable{
    height: 120px;
    width: 120px;
    border: solid 1px #2a9d8f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fec5bb;
}

.main{
    text-align: center;
}

.bottomContainer{
    display: flex;
}

.topContainer .seat:nth-child(1){
    position: relative; top: 20px;
}

.topContainer .seat:nth-child(4){
    position: relative; top: 20px;
}

.midLeftContainer .seat:nth-child(1){
    position: relative; bottom: 5px;
}

.midLeftContainer .seat:nth-child(2){
    position: relative; top: 5px;
}

.midRightContainer .seat:nth-child(1){
    position: relative; bottom: 5px;
}

.midRightContainer .seat:nth-child(2){
    position: relative; top: 5px;
}

.bottomContainer .seat:nth-child(1){
    position: relative; bottom: 20px;
}

.bottomContainer .seat:nth-child(4){
    position: relative; bottom: 20px;
}

.name1, .name2, .name3, .name4, .name5, .name6, .name7, .name8, .name9, .name10, .name11, .name12{
    font-size: 20px;
    width: 100px;
}

.name1{
    position: relative; 
    right: 60px;
    bottom: 30px;
}

.name2{
    position: relative;
    bottom: 40px;
    right: 30px;
}

.name3{
    position: relative;
    bottom: 40px;
}

.name4{
    position: relative;
    bottom: 30px;
    left: 30px;
}

.name5{
    position: relative;
    right: 65px;
    bottom: 10px;
}

.name6{
    position: relative;
    right: 65px;
}

.name7{
    position: relative;
    left: 35px;
    bottom: 10px;
}

.name8{
    position: relative;
    left: 35px;
}

.name9{
    position: relative;
    top: 10px;
    right: 75px;
}

.name10{
    position: relative;
    top: 30px;
    right: 40px;
}

.name11{
    position: relative;
    top: 30px;
    left: 10px;
}

.name12{
    position: relative;
    top: 20px;
    left: 30px;
}

