.supercontainer{
    background-image: url("../../public/background.jpg");
    background-repeat: no-repeat;
    background-size: 300vw auto;
    background-position: 77% 75%;
    font-family: 'Book Antiqua', arial;
    
}

@media only screen and (min-width: 760px){
    .supercontainer{
        background-size: auto 100vh;
        background-position: 80% 80%;
    }
}

@media only screen and (min-width: 900px){
    .supercontainer{
        background-size: 200% auto;
        background-position: 60% 60%;
    }
}

.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45.78vh;
}
.container2{
    width: 100%;
    height: 45.78vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
.word{
    margin-top: 0px;
    color:rgb(43, 34, 34);
    font-size: 38px;
    text-shadow: 2px 2px 3px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.5em rgb(255, 255, 255);

}
.date{
    margin-top: 52px;
    margin-bottom: 15px;
    color:rgb(255, 255, 255);
    font-size: 36px;
    text-shadow: 2px 2px 3px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.5em rgb(0, 0, 0);
}

.time{
    margin: 0px;
    margin-bottom: 15px;
    font-size: 22px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 3px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.5em rgb(0, 0, 0);
}

.time:nth-child(2){
    margin: 0;
}

.location{
    margin: 0;
    font-size: 24px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 3px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.5em rgb(0, 0, 0);
}

.air{
    height: 3px;
}