.header{
    font-size: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 5px;
    color:rgb(43, 34, 34);
    text-shadow: 2px 2px 3px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.5em rgb(255, 255, 255);
    font-family: 'Book Antiqua', arial;
}

.everything{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}