.seating_plan{
    background-color: #f8edeb;
    color: #2a9d8f;
    text-shadow: 0 0 3px #FFF;
    height: 100vh;
}

.supercontainer{
    font-family: 'Book Antiqua', arial;
    font-size: 26px;
}
.container1{
    display: flex;
    height: 7.5vh;
    align-items: center;
}
.smallcontainer2{
    margin-left: 30px;
}
.container2{
    height: 28vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container3{
    height: 28vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container4{
    height: 28vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.smallcontainer{
    width: 100px;
    height: 100px;
    border: solid 1px #2a9d8f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fec5bb;
}

.stage{
    text-align: center;
}

.nothing{
    display: none;
}

.show{
    display: inline;
}

.tableContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableContentDiv{
    width: 100%;
    height: 150px;
    margin: 50px 0;
}



